@font-face {
  font-family: "icons";
  src: url('/theme/fonts/iconfont/ho-iconfont-nwu89y.eot');
  src: url('/theme/fonts/iconfont/ho-iconfont-nwu89y.eot?#iefix') format('eot'),
  url('/theme/fonts/iconfont/ho-iconfont-nwu89y.woff') format('woff'),
  url('/theme/fonts/iconfont/ho-iconfont-nwu89y.ttf') format('truetype'),
  url('/theme/fonts/iconfont/ho-iconfont-nwu89y.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icons: (
 arrow: "\EA01",
 calendar: "\EA02",
 clock: "\EA03",
 cross: "\EA04",
 download: "\EA05",
 euro: "\EA06",
 facebook: "\EA07",
 link: "\EA08",
 linkedin: "\EA09",
 mail: "\EA0A",
 menu: "\EA0B",
 phone: "\EA0C",
 pin: "\EA0D",
 play: "\EA0E",
 search: "\EA0F",
 slack: "\EA10",
 twitter: "\EA11",
 user: "\EA12",

);

// Use to apply icons
@mixin icon($position: before, $icon: false, $styles: true) {
  @if $position == both {
    $position: 'before, &:after';
  }
  &:#{$position} {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-family: 'icons';
    }
    @content;
  }
}