@font-face {
  font-family: "icons";
  src: url('/theme/dist/fonts/iconfont/ho-iconfont-7ob8md.eot');
  src: url('/theme/dist/fonts/iconfont/ho-iconfont-7ob8md.eot?#iefix') format('eot'),
  url('/theme/dist/fonts/iconfont/ho-iconfont-7ob8md.woff') format('woff'),
  url('/theme/dist/fonts/iconfont/ho-iconfont-7ob8md.ttf') format('truetype'),
  url('/theme/dist/fonts/iconfont/ho-iconfont-7ob8md.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icons: (
 arrow: "\EA01",
 calendar: "\EA02",
 check: "\EA03",
 clock: "\EA04",
 cross: "\EA05",
 doc-check: "\EA06",
 download: "\EA07",
 euro: "\EA08",
 facebook: "\EA09",
 link: "\EA0A",
 linkedin: "\EA0B",
 mail: "\EA0C",
 menu: "\EA0D",
 phone: "\EA0E",
 pin: "\EA0F",
 play: "\EA10",
 quote: "\EA11",
 search: "\EA12",
 slack: "\EA13",
 square-arrow: "\EA14",
 twitter: "\EA15",
 user: "\EA16",

);

// Use to apply icons
@mixin icon($position: before, $icon: false, $styles: true) {
  @if $position == both {
    $position: 'before, &:after';
  }
  &:#{$position} {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-family: 'icons';
    }
    @content;
  }
}