.page--type-landingpage {
  .content {
    padding-top: 0;
    background: none;
  }

  .entry-content,
  .content {
    max-width: none;
  }
}

.entry--type-landingpage {
  max-width: none;

  .entry-header {
    background: $intro-bg;
    color: $intro-color;
    max-width: $max-width-content;
    padding: 3rem;

    @include bp-up(md){
      padding: 4rem 5rem;
    }

    h1, h2 {
      color: $intro-color;
    }

    a {
      color: $intro-color;
    }
  }

  .page__intro {
    background: $white;
    @include gc-box-shadow();
    max-width: $max-width-content;
    margin: 0 auto;
  }

  .entry-body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}