body,
html {
  background: $gc-pantybrown-xlight;
}

.site-container {
  width: 100vw;
  max-width: 2200px;
  box-shadow: 0 0 3rem rgba($black, 0.07);
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  @include ho-padding;
  background: $white;
  padding-top: 6rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 5;

  &:before {
    content: " ";
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    height: 14rem;
    background: $brand-color;
    z-index: -1;
  }

  @include bp-up(sm){
    padding-top: 9rem;
    padding-bottom: 8rem;

    &:before {
      height: 30rem;
    }
  }

  @include bp-up(lg){
    padding-top: 12rem;
    padding-bottom: 8rem;

    &:before {
      height: 30rem;
    }
  }
}

#skiplinks {
  @include visually-hidden;
}

.entry {
  @include ho-container;
}

.content {
  position: relative;
  background: $white;
  max-width :$max-width-content;
  margin: 0 auto;
  padding-top: 3rem;

  @include bp-up(md){
    padding-top: 5rem;
  }

  @include bp-up(lg){
    padding-top: 7rem;
  }
}

h1 {
  font-family: $font-secondary;
  font-size: 4rem;
  line-height: 4rem;

  @include bp-up(sm){
    font-size: 5.2rem;
    line-height: 5.2rem;
  }

  @include bp-up(lg){
    font-size: 6.8rem;
    line-height: 6.8rem;
  }
}

.breadcrumb {
  @include ho-padding;
  background: $gc-darkest-blue;
  font-size: $font-small;
  color: $white;
  padding-top: .3rem;
  padding-bottom: .3rem;

  > nav {
    @include ho-container;
  }

  a {
    @include icon(after, arrow);
    color: $white;
    transition: padding .2s;

    &:after {
      display: inline-block;
      font-size: .8rem;
      margin: 0 1rem;
      color: $gc-a11y-green;
    }

    &:hover, &:focus {
      padding-right: .2rem;
    }
  }

  ol {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      list-style: none;
    }
  }
}

