{% if theme is empty %}
  {% set theme = 'gc' %}
{% endif %}

<meta name="MobileOptimized" content="width">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>GC Frontend | {{ title }}</title>

{% if theme != 'od' %}
  <link rel="stylesheet" id="gebruiker-centraal-css" href="./theme/fonts/fonts.css" type="text/css" media="all">
  <link rel="stylesheet" id="gebruiker-centraal-css" href="./theme/dist/css/{{ theme }}-theme.css" type="text/css"
        media="all">
{% else %}
  <link rel="stylesheet" id="gebruiker-centraal-css" href="../../theme/fonts/fonts.css" type="text/css" media="all">
  <link rel="stylesheet" id="optimaal-digitaal-css" href="/sites/od/theme/dist/css/{{ theme }}-theme.css" type="text/css"
        media="all">
{% endif %}

<script type="text/javascript" src="/theme/js/lib/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/theme/dist/js/main-min.js"></script>