

$date-badge-bg:       $color-secondary !default;
$date-badge-color:    $white !default;


$meta-data:           $gc-greyblue;

// Homepage


$hp-intro-bg:        $brand-a11y-color !default;
$hp-intro-color:     $white !default;