{% if url is empty %}
  {% set url = 'img-16-9.jpg' %}
{% endif %}

{% if alt is empty %}
  {% set alt = 'Optimaal Digitaal Spel' %}
{% endif %}

{% if variant is empty %}
  {% set variant = 'full' %}
{% endif %}

<div class="section section--image section--image-{{ variant }}">

  <picture class="image">
    <source
        srcset="/uploads/styles/lg/{{ url }} 1x"
        media="all and (min-width: 800px)" type="image/jpeg">


    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'image' -->
    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->
    <img src="/uploads/{{ url }}" alt="{{ alt }}" typeof=" foaf:Image">
  </picture>
</div>
