.entry {
  &--full {
    .entry-body,
    .entry-header {
      max-width: $max-width-inner;
      margin: 0 auto;
    }
  }

  &--type-blog,
  &--type-event {

    .entry-header {
      position: relative;
      padding-left: 2.5rem;

      .date-badge {
        position: absolute;
        left: 0;
        top: 0;
        margin-left: -3rem;
      }

      @include bp-up(sm) {
        .date-badge {
          margin-left: -5rem;
        }
      }

      @include bp-up(lg) {
        padding-left: 4rem;

        .date-badge {
          margin-left: -4rem;
        }
      }
    }

    .entry-content {
      @include bp-up(sm) {
        margin-top: 3rem;
      }
    }
  }

  &--type-overview {
    .entry-header {
      max-width: none;
    }

    .entry-body {
      padding-top: 3rem;
      padding-bottom: 3rem;

      @include bp-up(sm) {
        padding-bottom: 5rem;
      }
    }
  }

  &--type-home {
    max-width: none;

    .page__intro {
      @include ho-padding;
      padding-top: 3rem;
      padding-bottom: 3rem;
      background: $hp-intro-bg;

      @include bp-up(sm) {
        padding-top: 7rem;
      }

      @include bp-up(sm) {
        padding-top: 10rem;
      }

      .entry-header {
        @include ho-container-content;
        color: $hp-intro-color;
        position: relative;
        z-index: +2;

        h1, h2, h3, h4, a {
          color: $hp-intro-color;
        }
      }
    }

    .section {
      @include ho-padding;
      max-width: none;

      .l-section-top {
        max-width: $max-width-container;
      }

      .l-section-content {
        max-width: calc(#{$max-width-container} + #{$gutter});
      }

      .section__title {
        border: none;
      }

      &--text-blocks {
        padding-left: 1.5rem;
        padding-right: 1.5rem;


        .l-section-content {
          max-width: calc(#{$max-width-container} + #{$gutter});
        }
      }
    }

    .entry-content > .section:last-child {
      padding-bottom: 5rem;

      @include bp-up(lg){
        padding-bottom: 8rem;
      }
    }
  }

  &--type-overview {
    @include gc-page-intro();
    max-width: none;

    .entry-body {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

// Author

.author {
  .author__contact-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .link--contact {
    margin: 1rem 1rem 0 0;

    @include bp-up(md) {
      + .social-links {
        margin-left: 1rem;
      }
    }
  }

  .social-links {
    margin: 1rem 0 0;
    padding: 0;
    display: flex;

    @include bp-up(md) {
      margin-top: 0;
    }
  }

  .social-links__item {
    margin: 1rem 1rem 0 0;
  }

  p {
    margin: 2rem 0 0;
  }


  &.l-with-image {
    display: flex;
    align-items: flex-start;

    .author__picture,
    .author__image {
      width: 8rem;
    }

    .author__content {
      width: calc(100% - 14rem);
      padding-left: $gutter;
    }

    @include bp-up(lg) {
      .author__picture,
      .author__image {
        width: 14rem;
      }

      .author__content {
        width: calc(100% - 14rem);
      }
    }
  }
}

.author__picture,
.author__image {
  background: $white;

  img {
    @include gc-box-shadow();
    width: 100%;
    height: auto;
    display: block;
  }
}

.author--box {
  @include gc-box-shadow;
  background: $gc_pantybrown_xlight;
  position: relative;
  padding: 3rem 2rem 2rem;
  display: block;
  font-size: $font-smaller;
  line-height: 2.6rem;
  margin-top: 5rem;

  @include bp-up(md) {
    margin-top: 8rem;
  }

  &:before {
    content: " ";
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: block;
    background: $gc_pantybrown_xlight;
    top: 0;
    left: 6rem;
    margin-top: -1.5rem;
    transform: rotate(45deg);
  }

  .author__content {
    width: 100%;
    padding: 0;
  }

  h2,
  .author__title {
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
  }

  .meta-data__item {
    color: $meta-data;
    font-size: $font_small;
  }

  hr {
    border-color: $gc_pantybrown-light;
    margin: 1.5rem 0;
  }

  .author__contact-info {
    font-size: $font_small;
    margin-top: 2rem;
  }

  p {
    margin: 0;
  }

  @include bp-up(md) {
    padding: 3rem;
  }
}

/*
 * Pagination
 */

.pagination {
  @include gc-pagination;
  width: 100%;


  a {
    border-color: $border_color;
  }

  > div:not(.pagination) {
    width: 50%;
  }

  .pagination-previous {
    padding-right: $gutter / 2;
  }

  .pagination-next {
    padding-left: $gutter / 2;
  }
}

/*
 * Comments
 */

#comments {
  @include ho-container-content;
  margin-top: 5rem;
}

.comment-list {
  padding: 0;

  li {
    list-style: none;
  }
}

.comment {
  @include gc-box-shadow();
  border: .1rem solid $border_color;
  padding: 2rem;

  @include bp-up(md) {
    padding: 2.5rem 3rem 3rem;
  }
}

@include bp-up(lg) {
  padding-left: 4rem;
  padding-right: 4rem;
}

.comment {
  @include gc-box-shadow();
  border-top: .2rem solid $border_color;
  padding: 2rem;
  margin-top: $gutter;
  font-size: $font-smaller;

  @include bp-up(lg) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .comment {
    box-shadow: none;
    padding-bottom: 1rem;
  }

  .children {
    margin-bottom: 1rem;
  }

  + .comment {
    margin-top: $gutter;
  }
}

.comment-author {
  color: $meta-data;
  font-size: $font_small;
  font-family: $font_primary_semi;
}

.comment-content {
  margin-top: 1.5rem;
}

.comment-meta {
  color: $meta-data;
  font-size: $font_small;
  font-family: $font_primary_semi;
  display: flex;
  border-top: .1rem solid $border-color;
  margin-top: 2rem;
  padding-top: .5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .reply {
    margin-left: auto;
    padding-left: 2rem;
  }

  a {
    display: inline-block;
  }
}

.comment-respond {
  margin-top: 3rem;
  padding-bottom: 3rem;

  @include bp-up(lg) {
    padding-bottom: 5rem;
    margin-top: 5rem;
  }

  h3 {
    font-size: 2.2rem;
  }
}

.children .comment {
  border-top-color: $gc-a11y-green;
  border-top-width: .3rem;
}

.comment-form {
  label {
    + input,
    + textarea {
      margin-top: .5rem;
    }
  }


  @include bp-up(md) {
    display: flex;
    flex-wrap: wrap;

    .comment-form-comment,
    .form-submit {
      width: 100%;
    }

    .author,
    .email {
      width: 50%;
    }

    .author {
      padding-right: $gutter / 2;
    }

    .email {
      padding-left: $gutter / 2;
    }
  }
}