.section--microstories {
  .l-section-content {
    @include bp-up(md){
      display: flex;
    }
  }

  .entry--type-home & {
    padding: 0;
    max-width: $max-width-container;
    margin: 5rem auto 0;

    .l-section-content {
      margin-left: -$gutter / 2;
      margin-right: -$gutter / 2;
    }
  }
}

.microstory {
  margin-top: $gutter;
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;

  @include bp-up(md){
    flex: 1;
  }
}

