.entry {

  .entry-intro {
    font-family: $font-primary-semi;

    @include bp-up(md) {
      font-size: 2.2rem;
      line-height: 3.4rem;
    }
  }

  &--full {
    padding-bottom: 5rem;

    @include bp-up(lg) {
      padding-bottom: 8rem;
    }

    .entry-body,
    .entry-header {
      max-width: $max-width-inner;
      margin: 0 auto;
    }

    .entry-content {
      > .section:first-child {
        // Make margin smaller if first section is a text one
        &.section--text,
        &.section--paragraph {
          margin-top: $gutter;
        }
      }
    }
  }

  &--type-page {

    .section--bg-option {
      @include ho-padding;
      margin-left: -1.5rem;
      margin-right: -1.5rem;

      @include bp-up(sm) {
        margin-left: -3rem;
        margin-right: -3rem;
      }
    }
  }

  &--type-blog,
  &--type-event {
    .entry-header {
      position: relative;
      padding-left: 2.5rem;

      .date-badge {
        position: absolute;
        left: 0;
        top: 0;
        margin-left: -3rem;
      }

      @include bp-up(sm) {
        .date-badge {
          margin-left: -5rem;
        }
      }

      @include bp-up(lg) {
        padding-left: 4rem;

        .date-badge {
          margin-left: -4rem;
        }
      }
    }

    .entry-content {
      @include bp-up(sm) {
        margin-top: 3rem;
      }
    }
  }

  &--type-overview {
    .entry-header {
      @include ho-make-container($max-width-content);
      @include gc-box-shadow();

      padding: 2rem;

      @include bp-up(md){
        padding: 4rem 5rem;
      }

      background: $intro-bg;
      color: $intro-color;

      h1, a {
        color: $intro-color;
      }
    }

    .page__intro {
      position: relative;
      z-index: +2;
    }

    .entry-body {
      padding-top: 3rem;
      padding-bottom: 3rem;

      @include bp-up(sm) {
        padding-bottom: 5rem;
      }
    }
  }

  &--type-landing {
    @include gc-page-intro();
    background: none;
    padding-bottom: 0;

    .page__intro {
      box-shadow: none;
      margin-bottom: 5rem;

      @include bp-up(md) {
        margin-bottom: 8rem;
      }
    }

    .section {
      @include ho-padding;

      &:last-child {
        padding-bottom: 5rem;

        @include bp-up(md) {
          padding-bottom: 8rem;
        }
      }
    }
  }


  &.l-with-stepchart {
    .page__intro {
      padding-bottom: 5rem;

      + .section--text-blocks {
        margin-top: 0;
        padding-top: 0;

        .l-section-content {
          margin-top: -5rem;

          @include bp-up(md){
            margin-top: -8rem;
          }
        }
      }
    }
  }
}


/*
 * Pagination
 */

.pagination {
  @include gc-pagination;
  width: 100%;


  a {
    border-color: $border_color;
  }

  > div:not(.pagination) {
    width: 50%;
  }

  .pagination-previous {
    padding-right: $gutter * 0.5;
  }

  .pagination-next {
    padding-left: $gutter * 0.5;
  }
}
