.entry--type-home {
  max-width: none;

  .page__intro {
    @include ho-padding;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: $hp-intro-bg;
    color: $hp-intro-color;

    h1, h2, h3 {
      color: $hp-intro-color;
    }

    @include bp-up(sm) {
      padding-top: 7rem;
    }

    @include bp-up(sm) {
      padding-top: 10rem;
    }

    .entry-header {
      @include ho-container-content;
      color: $hp-intro-color;
      position: relative;
      z-index: +2;

      h1, h2, h3, h4, a {
        color: $hp-intro-color;
      }
    }


    + .section.bg-color {
      margin-top: 0;
    }

    + .section--link-blocks {
      padding-top: 0;
      position: relative;

      @include bp-between(sm, lg) {
        .link-block:first-child {
          margin-top: -5rem;
        }
      }

      @include bp-up(lg) {
        .link-block {
          margin-top: -7rem;
        }
      }
    }
  }

  .section {
    @include ho-padding;
    max-width: none;

    .l-section-top {
      max-width: $max-width-container;
    }

    .l-section-content {
      max-width: calc(#{$max-width-container} + #{$gutter});
    }

    .section__title {
      border: none;
    }

    &--text .l-section-content {
      max-width: $max-width-inner;
    }

    &--text-blocks,
    &--link-blocks {
      padding-left: .5rem;
      padding-right: .5rem;

      @include bp-up(sm) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

    }
  }

  .entry-content > .section:last-child {
    padding-bottom: 5rem;

    @include bp-up(lg) {
      padding-bottom: 8rem;
    }
  }
}

.page--type-front {
  .content {
    max-width: none;
    padding: 0;
    background: none;
  }

  .page-content {
    padding: 0;
  }


  .page__intro {
    @include ho-padding;
    @include gc-bg-rotated();

    padding-top: 5rem;
    padding-bottom: 8rem;
    background: $gc-a11y-green-lg;
    color: $white;
    z-index: auto;

    @include bp-up(md){
      padding-top: 7rem;
      padding-bottom: 12rem;
    }

    @include bp-up(lg){
      padding-top: 10rem;
      padding-bottom: 14rem;
    }

    @include bp-up(xlg){
      padding-top: 12rem;
      padding-bottom: 16rem;
    }

    .l-inner {
      @include ho-make-container($max-width-inner);
      text-align: center;
      position: relative;
    }

    h1 {
      color: $white;
    }

    &:before {
      background: $gc-a11y-green;
      top: 70%;

      @include bp-down(md){
        top: 45%;
      }
    }
  }
}