<section class="section section--video">
  <div class="video">

    <div class="video__video">
    <img src="/uploads/img-16-9.jpg">

         <div class="video__overlay">
           <span class="play" role="figure">
             Speel Video
           </span>

           <button class="video__play" type="button">Bekijk de Optimaal Digitaal Vido</button>
         </div>
    </div>

    <div class="video__summary">Bekijk transcriptie</div>
  </div>

  <div class="l-cta-wrapper">
    <a href="#" class="btn btn--primary">Meer over Optimaal Digitaal</a>
    <a href="#" class="btn btn--secondary">Hoe speel je het?</a>
  </div>
</section>