/* Actueel - events & blogs */

.section--actual {
  @include ho-padding;

  .section__title {
    border: none;
  }

  .btn {
    margin-top: $gutter;
  }


  @include bp-up(md) {
    .l-section-content {
      display: flex;

      .grid {
        margin-left: -$gutter * 0.5;
        margin-right: -$gutter * 0.5;
      }
    }
  }
}