.section {
  &--spotlight {
    @include ho-padding;

    margin-top: 5rem;
    max-width: none;

    @include bp-up(lg) {
      margin-top: 8rem;
    }

    @include bp-up(xlg) {
      margin-top: 10rem;
    }

    .l-spotlight-wrapper,
    .l-section-content {
      position: relative;
    }
  }

  &.l-item-count-2 {
    .l-spotlight-wrapper,
    .l-section-content {
      max-width: $max-width-container;
      margin: 0 auto;

      @include bp-up(md) {
        display: flex;

        .spotlight:nth-child(odd) {
          margin-right: $gutter * 0.5;
        }

        .spotlight:nth-child(even) {
          margin-left: $gutter * 0.5;
        }
      }

      @include bp-up(lg) {
        .spotlight__content {
          margin-top: -8rem;
        }
      }
    }
  }

  // GC frontpage

  &--main-instruments {
    margin-top: 0;
    position: relative;
    z-index: auto;
    background: none;
    padding-bottom: 5rem;

    &:before {
      content: " ";
      background: $gc-pantybrown;
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    .l-instrument-wrapper {
      margin-top: $gutter;
      padding: 0;

      .item-list__item {
        border-color: darken($gc-pantybrown, 10%);
      }

      a {
        font-family: $font-primary-bold;
      }
    }

    @include bp-down(sm) {

      .spotlight:nth-child(1) {
        margin-top: -4rem;
      }
    }

    @include bp-between(sm, md) {
      .l-section-content {
        margin-top: 0;
      }

      .spotlight {
        margin-top: $gutter;
        max-width: 80%;

        &:nth-child(even) {
          margin-left: auto;
        }

        &:first-child {
          margin-top: -4rem;
        }
      }
    }

    @include bp-up(md) {
      padding-bottom: 8rem;

      .l-section-content {
        margin-top: -4rem;
        max-width: calc(#{$max-width-container} + #{$gutter});
        display: flex;
        flex-wrap: wrap;
      }

      .spotlight {
        margin-top: 0;
        margin-left: $gutter * 0.5;
        margin-right: $gutter * 0.5;
        width: calc(50% - #{$gutter});

        &:nth-child(n+3) {
          margin-top: $gutter;
        }
      }

      .l-instrument-wrapper {
        width: calc(50% - #{$gutter});
        margin-left: auto;
        padding-right: $gutter * 0.5;
        margin-top: 6rem;
      }
    }

    @include bp-up(lg) {
      .spotlight {
        &:nth-child(3) {
          margin-left: 9rem;
        }
      }

      .l-instrument-wrapper {
        width: calc(50% - 11rem);
      }
    }
  }
}

.spotlight {
  margin-top: $gutter;

  @include bp-up(md){
    margin-top: 0;
  }
}

.spotlight__picture {
  display: block;
  width: 100%;
  height: auto;
}

.spotlight__content {
  @include gc-box-shadow();
  position: relative;
  background: $intro_bg;
  color: $intro_color;
  margin: -2rem 2rem 0;
  padding: 2rem;
  max-width: 72rem;

  @include bp-down(sm) {
    margin-left: 0;
  }

  @include bp-up(md) {
    padding: 3rem;
  }

  h2, h3, a {
    color: $intro_color;
  }

  h2, h3 {
    @include gc-section-heading;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 1rem 0 0 0;
  }

  .btn {
    margin-top: 2rem;
    margin-right: 2rem;
  }

  @include bp-up(md) {
    margin-left: 4rem;
    margin-right: 6rem;
    margin-top: -10rem;
  }

  @include bp-up(lg) {
    padding: 3.5rem 4rem;
  }

  .spotlight--white & {
    background: $white;
    color: $base-font-color;

    h2, h3, a:not(.btn) {
      color: $base-font-color;
    }

    h2, h3 {
      font-family: $font-primary-bold;
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    @include bp-up(lg){
      padding-top: 3rem;
    }
  }
}

.spotlight__image {
  height: 30rem;
  overflow: hidden;

  @include bp-up(md) {
    height: 53rem;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .l-item-count-2 & {
    @include bp-up(md) {
      height: 26rem;
    }

    @include bp-up(lg) {
      height: 32rem;
    }
  }
}

