.section--microstories {
  .l-section-content {
    @include bp-up(md){
      display: flex;
    }
  }

  .entry--type-home & {
    padding: 0;
    max-width: $max-width-container;
    margin: 5rem auto 0;

    .l-section-content {
      margin-left: -$gutter * 0.5;
      margin-right: -$gutter * 0.5;
    }
  }
}

.microstory {
  margin-top: $gutter;
  margin-left: $gutter * 0.5;
  margin-right: $gutter * 0.5;

  p {
    max-width: 80%;
    margin: 1.6rem auto 0;
    font-size: $font-smaller;
    line-height: 2.6rem;
  }

  @include bp-up(md){
    flex: 1;
  }
}

