<div class="section section--actual">

  <div class="l-section-content">

    {# Calendar col #}
    <section class="l-section-col col--50-width">
      <h2 class="section__title">{{ items.events.title ? items.events.title : 'Kalender' }}</h2>

      <div class="grid grid--col-2">

        {% for event in items.events.items %}

          {% include 'components/card--small.html.twig' with {
            'title': event.title,
            'post_date': event.date,
            'img': event.img,
            'type': 'event'
          } %}
        {% endfor %}
      </div>

      {% if items.events.cta %}
        <a class="btn btn--primary" href="#">{{ items.events.cta.title }}</a>
      {% endif %}

    </section>

    {# Blog / news col #}
    <section class="l-section-col col--50-width">
      <h2 class="section__title">{{ items.blogs.title ? items.blogs.title : 'Blogs' }}</h2>

      <div class="grid grid--col-2">
        {% for blog in items.blogs.items %}
          {% include 'components/card--small.html.twig' with {
            'title': blog.title,
            'post_date': blog.date,
            'img': blog.img,
            'type': 'article'
          } %}
        {% endfor %}
      </div>

      {% if items.blogs.cta %}
        <a class="btn btn--primary" href="#">{{ items.blogs.cta.title }}</a>
      {% endif %}
    </section>


  </div>
</div>
