
{% set classes = [
  'section',
  'section--text-blocks',
  'l-item-count-' ~ items|length,
  bg ? 'section--text-block-bg',
  bg ? 'section--text-block-bg-' ~ bg,
  modifier ? 'section--' ~ modifier
] %}

<div class="{{ classes|classlist }}">
  <div class="l-section-content">

    {% for item in items %}

      {% include 'components/text-block.html.twig' with {
        'title' : item.title,
        'descr' : item.descr,
        'link_primary' : item.link_primary,
        'link_secondary': item.link_secondary
      } %}

    {% endfor %}
  </div>
</div>