<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page page--type-blog site-id-1{{ extra_classes }}">

<div class="site-container">

  {% include 'includes/header.html.twig' %}

  {% include 'includes/breadcrumb.html.twig' with {
    'page_title': 'Gebruiker Centraal organiseert ‘Design thinking bij de overheid’: training, design sprint en conferentie',
    'links': ['Home', 'Blog']} %}


  <div class="page-content" id="maincontent" tabindex="-1">

    {% if hero %}
      {% include 'includes/hero.html.twig' %}
    {% endif %}

    <main class="content">
      <article class="entry entry--full entry--type-blog">

        <header class="entry-header">

          {% include 'components/date-badge.html.twig' %}

          <h1 class="entry-title">
            {% if page_title is empty %}
              Gebruiker Centraal organiseert ‘Design thinking bij de overheid’: training, design
              sprint en conferentie
            {% else %}
              {{ page_title }}
            {% endif %}</h1>

          {% set meta = {
            '1': {
              'classname': 'author',
              'title' : 'Auteur',
              'descr' : 'Gebruiker Centraal Redactie',
            }
          } %}

          {% include 'components/meta-data.html.twig' with {'items' : meta} %}

        </header>

        <div class="entry-content wrap">

          <div class="entry-body">

            <p>Gebruiker Centraal organiseert dit najaar een (online) training inclusief een design sprint week (op 25
              verschillende plekken in het land) en een conferentie in het teken van design thinking bij de
              overheid.</p>
            <p>Wil je kennis maken met en alles leren over design thinking en het proces van een design sprint? Heb je
              een
              complex probleem dat je op een andere manier wil oplossen? Wil je een nieuwe dienst ontwikkelen, maar weet
              je niet waar je moet beginnen? Of ben je al bekend met design thinking en wil je je met je team hier
              verder
              in ontwikkelen?</p>

          </div>


          {% set pictures = {
            '1': {
              'alt': 'Optimaal Digitaal Workshopspel',
              'url': 'img-16-9.jpg'
            },
            '2': {
              'alt': 'International Design in Government conference',
              'url': 'img-16-9-conference.jpg'
            }
          } %}

          {% include 'sections/section-pictures.html.twig' with {
            'variant' : 'width-full',
            'items' : pictures,
          } %}


          {% set text %}

            <h2>Over de training en de design sprint week</h2>
            <p>De training (van vijf weken in oktober-november) neemt de deelnemers mee&nbsp;in de belangrijkste
              elementen
              van design thinking. De training is zowel gericht op mensen en teams die ermee willen beginnen als op
              teams
              die een volgende stap willen zetten met de integratie van design thinking in hun werk. De training is
              tegelijkertijd een voorbereiding op de design sprint week. Want vervolgens doen de deelnemers zelf in de
              week van 16 november een design sprint. Het idee achter een design sprint is dat je binnen vier dagen een
              prototype kunt bouwen (voor bijvoorbeeld een nieuwe dienst of nieuw product) én kunt testen bij je
              potentiële gebruikers. Dus binnen een week van een vraagstuk naar een gevalideerde oplossing.</p>

          {% endset %}

          {% include 'blocks/text.html.twig' with {'section_text' : text} %}

          {% set cards = {
            '1': {
              'title' : 'Design Sprint Week',
              'descr' : 'Heb je een complex probleem dat je op een andere manier wil oplossen of wil je een dienstverlening verbetern? Deze online trainingen helpen je design thingking te gebruiken',
              'type' : 'instrument',
              'img': 'brand-gc.jpg'
            }
          } %}

          {% include 'sections/section-related.html.twig' with {
            'cards' : cards
          } %}

          {% set text %}


            <h2>Conferentie</h2>
            <p>Meer informatie over de <a
                  href="https://www.gebruikercentraal.nl/agenda/conferentie-design-thinking-bij-de-overheid/"
                  data-ol-has-click-handler="">conferentie</a> volgt snel.</p>
            <h2>Aanmelden</h2>
            <p>Je kunt je aanmelden met je hele team en zelf een eigen vraagstuk meenemen en uitwerken tijdens de
              training
              en design sprint. Je kunt je ook individueel aanmelden.</p>
            <h2>Meer informatie</h2>
            <p>Meer over het programma en de verschillende onderdelen lees je op de <a
                  href="https://designsprint.gebruikercentraal.nl/" data-ol-has-click-handler="">website</a>. Hier kun
              je
              je ook aanmelden.</p>

          {% endset %}


          {% include 'blocks/text.html.twig' with {'section_text' : text} %}


          {% include 'components/author.twig' with {
            'base_url': '/uploads/doelgroep'
          } %}

          <nav class="pagination">
            <div class="pagination-previous alignleft"><a
                  href="https://www.gebruikercentraal.nl/blog/de-begripvolle-ambtenaar/" rel="prev"
                  data-ol-has-click-handler="">De begripvolle ambtenaar</a></div>
            <div class="pagination-next alignright"><a
                  href="https://www.gebruikercentraal.nl/blog/nieuws/gebruiker-centraal-organiseert-design-thinking-bij-de-overheid-training-design-sprint-en-conferentie/"
                  rel="next" data-ol-has-click-handler="">Gebruiker Centraal organiseert ‘Design thinking bij de
                overheid’: training, design sprint en conferentie</a></div>
          </nav>

        </div>


      </article>

      {% include 'components/comments.html.twig' %}
    </main>
  </div>

  {% include 'includes/footer.html.twig' %}
</div>