{% extends 'page.html.twig' %}

        {# Filled out by other twig templates #}
        {% block header %}
          <header class="page__intro">
            <h1 class="page__title">{{ title ? title : 'Over Gebruiker Centraal' }}</h1>

            {% if intro %}
              <p class="text text--intro">{{ intro }}</p>
            {% endif %}

          </header>

        {% endblock %}



