<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page page--type-page site-id-1">

<div class="site-container">

  <ul id="skiplinks">
    <li><a href="#maincontent" data-ol-hhaaas-click-handler="">Direct naar belangrijkste content</a></li>
    <li><a href="#mainnav" data-ol-has-click-handler="">Direct naar hoofdnavigatie</a></li>
  </ul>

  {% include 'includes/header.html.twig' %}

  <div class="breadcrumb">
    <nav aria-label="Breadcrumb" class="breadcrumb">
      <ol class="breadcrumb__list">
        <li><a src="" href="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__current" aria-current="page">Over ons</span></li>
      </ol>
    </nav>
  </div>


  <div class="page-content" id="maincontent" tabindex="-1">
    <main class="content">
      <article class="entry entry--type-page entry--full">
        <header class="entry-header">
          <h1 class="entry-title">Dit is de homepage</h1>

          <p class="entry-intro">Gebruiker Centraal is een community voor professionals die bezig zijn met de
            (online) dienstverlening van de overheid. Samen willen wij de (online) dienstverlening van de overheid naar
            een hoger plan tillen, zodat meer burgers van digitale diensten gebruik kunnen en willen maken. In de
            community delen we ervaringen en lessen tijdens <a href="https://www.gebruikercentraal.nl/evenementen/"
                                                               data-ol-has-click-handler="">bijeenkomsten</a>&nbsp;en op
            ons <a href="https://www.gebruikercentraal.nl/blog" data-ol-has-click-handler="">blog</a>.&nbsp;Samen met de
            community ontwikkelen we <a href="https://www.gebruikercentraal.nl/instrumenten/"
                                        data-ol-has-click-handler="">instrumenten</a> om de professionals te
            ondersteunen in het centraal stellen van de eindgebruiker.</p>
          </p>

        </header>

        <div class="entry-content">
          <p>Gebruiker Centraal is onafhankelijk, non-profit en wordt voor het grootste deel gefinancierd door het
            ministerie van Binnenlandse Zaken en Koninkrijksrelaties.</p>
          <h2>Actieteam</h2>
          <p>Gebruiker Centraal werkt met een actieteam&nbsp;dat bestaat uit professionals die direct voor de overheid
            werken. Dit team organiseert en faciliteert de activiteiten van de community en bepaalt grotendeels de
            koers van de community.</p>
          <p><a href="https://www.gebruikercentraal.nl/actieteam/" data-ol-has-click-handler="">Bekijk alle leden van
              het actieteam</a></p>
          <h2>strategie</h2>
          <p><em>Op de website van iBestuur <a href="https://ibestuur.nl/weblog/gebruiker-centraal-natuurlijk-hoedan"
                                               data-ol-has-click-handler="">publiceerde</a>&nbsp;Edo Plantinga in
              februari 2018 het onderstaande artikel, dat een goede indruk geeft van onze strategie en de gedachten
              erachter. We hebben dit artikel per september 2018 geactualiseerd.&nbsp;</em></p>
          <p>“In onze dienstverlening zetten we de burger centraal”. “We werken van buiten naar binnen”. Het zijn in
            de overheid veelgehoorde statements waar niemand het mee oneens zal zijn. Tegelijkertijd roept dit vragen
            op. Waar hebben we het precies over? En hoe bereiken we dat dan? We willen tenslotte allemaal wereldvrede,
            maar de oorlog breekt pas uit als het gaat over de wijze waarop.</p>
          <p>In dit artikel licht ik toe hoe we vanuit de overheidsbrede kenniscommunity Gebruiker Centraal&nbsp;bijdragen
            aan een gebruiksvriendelijke digitale overheid. Een overheid die de behoeften van burgers en ondernemers
            centraal stelt. Dit geeft inzicht in onze strategie en is hopelijk aanleiding voor een gezonde discussie
            (zonder oorlogstuig, naar ik hoop).</p>
          <h3>Waarom de gebruiker centraal?</h3>
          <p>Voordat we op de inhoud overgaan, wil ik stilstaan bij de verschillende motivaties om het perspectief van
            de burger / ondernemer / gebruiker / klant meer te benadrukken. De focus leg ik daarbij vooral op de
            digitale overheid, zonder het belang van de overige kanalen teniet te doen.</p>
          <p>Ten eerste zal het de meeste lezers van dit artikel niet zijn ontgaan dat recentelijk diverse onderzoeken
            zijn verschenen over dit onderwerp. Zo&nbsp;<a
                href="https://www.nationaleombudsman.nl/system/files/onderzoek/DEF%20Rapport%20Hoezo%20MijnOverheid.pdf"
                data-ol-has-click-handler="">stelt</a>&nbsp;de Nationale Ombudsman: “De overheid is er voor de
            burger. En niet andersom. Ook bij digitalisering van haar diensten en communicatie moet de overheid de
            gebruiker centraal stellen.” Deze zienswijze begint gelukkig ook politiek meer aandacht te krijgen. Daar
            moeten we dus iets mee.</p>
          <p>Ten tweede zijn er financiële overwegingen. Als je kosten wilt besparen door het digitaliseren van
            dienstverlening, dan lukt dat alleen als je die inricht vanuit het gebruikersperspectief, zo blijkt
            uit&nbsp;<a
                href="http://www.gbbo.nl/onderzoek/landelijk-onderzoek/betere-en-goedkopere-dienstverlening-op-basis-van-het-gebruikersperspectief"
                data-ol-has-click-handler="">onderzoek van&nbsp;GBBO</a>&nbsp;voor het ministerie van Binnenlandse
            Zaken. Aan de andere kant van het Kanaal gaan ze nog verder: daar becijferden ze dat de Britse
            overheid&nbsp;<a
                href="https://www.emerce.nl/cc?_r=/achtergrond/hoe-de-britse-overheid-miljarden-bespaart-door-service-design"
                data-ol-has-click-handler="">drie miljard pond</a>&nbsp;bespaarde door de gebruiker centraal te
            stellen in de ontwikkeling van de dienstverlening (als hier ook maar tien procent van waar is, dan is dat
            al ruim de moeite waard).</p>
          <p>Tot slot is er ook nog zoiets als beroepstrots. Of je nu ambtenaar bent of niet, iedereen die aan de
            digitale overheid werkt, wil gewoon goed werk afleveren. Gebruikersgerichte dienstverlening maakt daar
            anno 2018 gewoon onderdeel van uit. Punt.</p>
          <p>Wat je motivatie ook is, het belang van een goede overheidsdienstverlening is groot. Ik zal hier niet
            claimen dat gebruiksvriendelijke dienstverlening het vertrouwen in de democratie en politiek kan
            herstellen, maar het tegenovergestelde is zeker waar. We kunnen het ons gewoon niet permitteren om achter
            te blijven bij de ontwikkelingen in het bedrijfsleven. De burger accepteert niet langer dat hij door
            bureaucratische Haagse hoepels moet springen in tijden dat je binnen een minuut via je mobiel een
            bankrekening kunt openen. En terecht.</p>
          <h3>#hoedan?</h3>
          <p>Goed. Tot zover zijn we het nog eens. Wereldvrede, pardon, gebruiksvriendelijke dienstverlening is een
            groot goed. En nu? Wat gaan we nu anders doen?</p>
          <p>Naast een (verdere) cultuurverandering is er meer kennis van User Centered Design (UCD) nodig binnen de
            overheid. Want dit is&nbsp;<a href="https://ibestuur.nl/weblog/digitale-dienstverlening-een-vak-apart"
                                          data-ol-has-click-handler="">gewoon een vak</a>&nbsp;dat je kunt leren.
            Daarbij helpt het als je het proces slim&nbsp;<a
                href="https://ibestuur.nl/weblog/de-burger-centraal-maar-nu-ook-echt"
                data-ol-has-click-handler="">insteekt</a>&nbsp;en continu bezig blijft met verbeteren, maar we
            moeten het nog wel even gaan doen. Binnen de kenniscommunity Gebruiker Centraal richten we ons daarom op
            een combinatie van cultuurverandering (promotie, al doende leren, etc.) en kennisopbouw binnen de
            overheid. Om een gebruiksvriendelijke overheid te bereiken, dragen onze activiteiten bij aan de volgende
            vijf tactische doelen:</p>
          <ol>
            <li><strong>User Centered Design toepassen.</strong>Door kennis te delen, instrumenten aan te reiken en
              ondersteuning te bieden, maken we het professionals en organisaties makkelijker om anders te gaan
              werken. De&nbsp;<a href="https://www.gebruikercentraal.nl/instrumenten/ontwerpprincipes/"
                                 data-ol-has-click-handler="">Gebruiker Centraal ontwerpprincipes</a>geven hierbij
              richting.
            </li>
            <li><strong>Mensgericht beleid ontwikkelen.</strong>&nbsp;Al bij het maken van nieuw beleid wordt gekeken
              naar de behoeften van de burger en worden de aannames hierover vroegtijdig gevalideerd. Zodat het beleid
              en de uitvoering daarvan daadwerkelijk het beoogde effect bereiken.
            </li>
            <li><strong>Bestuurlijk draagvlak uitbouwen.</strong>&nbsp;De&nbsp;<a
                  href="https://www.gebruikercentraal.nl/instrumenten/ontwerpprincipes/"
                  data-ol-has-click-handler="">Ontwerpprincipes</a>&nbsp;uit het&nbsp;<a
                  href="https://www.gebruikercentraal.nl/instrumenten/manifest/" data-ol-has-click-handler="">Manifest
                Gebruiker Centraal</a>&nbsp;worden bestuurlijk nog breder gedragen en zijn opgenomen in relevante
              visiestukken van de digitale overheid. Onze bestuurlijke ambassadeurs helpen hierbij.
            </li>
            <li><strong>Best practices delen &amp; slim samenwerken.</strong>&nbsp;We vinden nog te vaak het wiel
              opnieuw uit. Door bijvoorbeeld slimmer&nbsp;<a
                  href="https://ibestuur.nl/podium/de-interactie-bibliotheek-vind-het-wiel-niet-opnieuw-uit"
                  data-ol-has-click-handler="">interactiepatronen</a>, ontwerpen en code te delen, kunnen
              professionals sneller aan de slag én vergroten we de herkenbaarheid van de online overheid voor burgers.
            </li>
            <li><strong>Innovatie stimuleren.</strong>&nbsp;Technologische innovaties volgen elkaar snel op. Wij
              helpen om de adoptie van deze innovaties te blijven insteken vanuit het belang, behoefte en gedrag van
              de gebruiker. Bij grote innovaties en doorontwikkelingen is het tenslotte maar al te makkelijk om het
              belang van de eindgebruiker ondergeschikt te maken aan het belang van de stakeholders (blader voor de
              grap maar eens door de businesscases op het&nbsp;<a href="https://www.rijksictdashboard.nl/"
                                                                  data-ol-has-click-handler="">Rijks&nbsp;ICT-dashboard</a>.&nbsp;
              <em>I&nbsp;rest my case</em>).
            </li>
          </ol>
          <p>Zoals een goede community betaamt, pakken we vooral onderwerpen op waarvan we merken dat er veel behoefte
            en energie zit. We toetsen onze activiteiten echter wel altijd aan de bijdrage aan de bovenstaande vijf
            tactische doelen.</p>
          <p><img class="size-full wp-image-3697 aligncenter"
                  src="https://gebruikercentraal.nl/wp-content/uploads/sites/4/2018/09/Illustratie-strategie-1024x768-1.jpg"
                  alt="De strategie van Gebruiker Centraal" width="1024" height="768"
                  srcset="https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2018/09/Illustratie-strategie-1024x768-1.jpg 1024w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2018/09/Illustratie-strategie-1024x768-1-300x225.jpg 300w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2018/09/Illustratie-strategie-1024x768-1-768x576.jpg 768w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2018/09/Illustratie-strategie-1024x768-1-380x285.jpg 380w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2018/09/Illustratie-strategie-1024x768-1-120x90.jpg 120w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2018/09/Illustratie-strategie-1024x768-1-250x188.jpg 250w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2018/09/Illustratie-strategie-1024x768-1-200x150.jpg 200w"
                  sizes="(max-width: 1024px) 100vw, 1024px"></p>
          <h3>Instrumenten &amp; partnertrajecten</h3>
          <p>Toen de community van Gebruiker Centraal in 2014 startte, was er vooral veel aandacht nodig voor de
            bewustwording van het vakgebied van User Centered Design en voor inspiratie vanuit goede voorbeelden.
            Daarom hebben we ons met name gericht op het organiseren van bijeenkomsten (waar we overigens vooral mee
            door blijven gaan, maar dan met diepgravender onderwerpen).</p>
          <p>Inmiddels merken we dat het belang van het centraal stellen van de gebruiker steeds minder ter discussie
            staat. Tegelijkertijd is de community gegroeid, met als kern een vrijwillig actieteam dat is gegroeid naar
            zeventien personen. Er is veel kennis beschikbaar binnen de community. Gaandeweg is steeds meer van deze
            kennis verwerkt in instrumenten die professionals in hun dagelijkse werk kunnen inzetten. Zoals
            bijvoorbeeld de benchmark van het&nbsp;<a
                href="https://ibestuur.nl/podium/model-geeft-inzicht-in-hoe-gebruikersgericht-organisatie-is"
                data-ol-has-click-handler="">Gebruiker Centraal Volwassenheidsmodel</a>&nbsp;en de&nbsp;<a
                href="https://www.gebruikercentraal.nl/instrumenten/kennisbank-beeldtaal/"
                data-ol-has-click-handler="">Kennisbank Beeldtaal</a>. We blijven ons de komende jaren richten op
            het doorontwikkelen van instrumenten.</p>
          <p>Vanaf 2018 gaan we zelfs nog een stap verder. We bieden partnertrajecten aan voor organisaties en grote
            projecten, waarbij we de kennis van de community en de ontwikkelde instrumenten inzetten om te
            ondersteunen bij organisatiespecifieke vraagstukken. Bijvoorbeeld: hoe borgen we het gebruikersperspectief
            al vanaf de verkenningsfase in onze projecten? Hoe overtuigen we medewerkers en management van het belang
            van het gebruikersperspectief? De frisse blik van buiten door mensen die de overheid goed kennen, helpt
            organisaties bij het zetten van vervolgstappen.</p>
          <p>Voor Gebruiker Centraal zijn de partnertrajecten een middel om directer invloed uit te oefenen op
            ontwikkelingen binnen de digitale overheid. Tegelijkertijd brengt deze nieuwe aanpak een risico met zich
            mee: we zouden van onze onafhankelijke kritische rol kunnen verliezen of erger nog: als excuus gebruikt
            worden (“Ja maar, Gebruiker Centraal was aangehaakt, dus is het nu gebruiksvriendelijk”). Iets om scherp
            op te blijven.</p>
          <h3>Denk mee. Haak aan</h3>
          <p>We geloven dat bovenstaande aanpak een bijdrage levert om abstracte ambities als&nbsp;<em>van buiten naar
              binnen en stel xyz</em>&nbsp;<em>centraal</em> invulling te geven. We zijn benieuwd naar jouw slimme
            ideeën om de overheid gebruiksvriendelijker te maken. Wil je organisatie met ons samenwerken, al dan niet
            als&nbsp;<a href="https://www.gebruikercentraal.nl/partner-worden/"
                        data-ol-has-click-handler="">partner</a>? Of wil je zelf aanhaken bij het&nbsp;<a
                href="https://www.gebruikercentraal.nl/actieteam/" data-ol-has-click-handler="">actieteam</a>?
            Laat het weten!</p>
          <div id="attachment_4394" style="width: 1034px" class="wp-caption alignnone"><a
                href="https://gebruikercentraal.nl/wp-content/uploads/sites/4/2019/01/Groepsfoto-actieteam-Gebruiker-Centraal.jpg"
                data-ol-has-click-handler=""><img aria-describedby="caption-attachment-4394"
                                                  class="size-large wp-image-4394"
                                                  src="https://gebruikercentraal.nl/wp-content/uploads/sites/4/2019/01/Groepsfoto-actieteam-Gebruiker-Centraal-1024x502.jpg"
                                                  alt="Groepsfoto actieteam Gebruiker Centraal" width="1024"
                                                  height="502"
                                                  srcset="https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2019/01/Groepsfoto-actieteam-Gebruiker-Centraal-1024x502.jpg 1024w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2019/01/Groepsfoto-actieteam-Gebruiker-Centraal-300x147.jpg 300w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2019/01/Groepsfoto-actieteam-Gebruiker-Centraal-768x377.jpg 768w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2019/01/Groepsfoto-actieteam-Gebruiker-Centraal-380x186.jpg 380w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2019/01/Groepsfoto-actieteam-Gebruiker-Centraal-120x59.jpg 120w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2019/01/Groepsfoto-actieteam-Gebruiker-Centraal-250x123.jpg 250w, https://www.gebruikercentraal.nl/wp-content/uploads/sites/4/2019/01/Groepsfoto-actieteam-Gebruiker-Centraal-1200x588.jpg 1200w"
                                                  sizes="(max-width: 1024px) 100vw, 1024px"></a>
            <p id="caption-attachment-4394" class="wp-caption-text">Het actieteam van Gebruiker Centraal (2018)</p>
          </div>
        </div>
      </article>
    </main>
  </div>


  {% include 'includes/footer.html.twig' %}

</div>