{% extends 'page.html.twig' %}

    {% block header %}
      <div class="page__intro">
        <header class="page__header">
          <h1 class="page__header">{{ title ? title : 'Over Gebruiker Centraal' }}</h1>

          {% if intro %}
            <p class="text text--intro">{{ intro }}</p>
          {% endif %}

        </header>

        {% if intro %}
          <div class="page__body">
            <p class="text text--intro">{{ intro }}</p>
          </div>
        {% endif %}

      </div>

    {% endblock %}