<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page page--type-page site-id-1">

<div class="site-container">

  {% include 'includes/header.html.twig' %}

  {% include 'includes/breadcrumb.html.twig' with {
    'page_title': 'Over ons',
    'links': ['Home']} %}


  <div class="page-content" id="maincontent" tabindex="-1">
    <main class="content">

      <article class="entry entry--type-page entry--full">
        <header class="entry-header">
          <h1 class="entry-title">Over Gebruiker Centraal</h1>

          <p class="entry-intro">Gebruiker Centraal is een community voor professionals die bezig zijn met de
            (online) dienstverlening van de overheid. Samen willen wij de (online) dienstverlening van de overheid naar
            een hoger plan tillen, zodat meer burgers van digitale diensten gebruik kunnen en willen maken. In de
            community delen we ervaringen en lessen tijdens <a href="https://www.gebruikercentraal.nl/evenementen/"
                                                               data-ol-has-click-handler="">bijeenkomsten</a>&nbsp;en op
            ons <a href="https://www.gebruikercentraal.nl/blog" data-ol-has-click-handler="">blog</a>.&nbsp;Samen met de
            community ontwikkelen we <a href="https://www.gebruikercentraal.nl/instrumenten/"
                                        data-ol-has-click-handler="">instrumenten</a> om de professionals te
            ondersteunen in het centraal stellen van de eindgebruiker.</p>
          </p>

        </header>

        <div class="entry-content">
          {# default body body#}
          <div class="entry-body">
            <p>Gebruiker Centraal is onafhankelijk, non-profit en wordt voor het grootste deel gefinancierd door het
              ministerie van Binnenlandse Zaken en Koninkrijksrelaties.</p>
            <h2>Actieteam</h2>
            <p>Gebruiker Centraal werkt met een actieteam&nbsp;dat bestaat uit professionals die direct voor de overheid
              werken. Dit team organiseert en faciliteert de activiteiten van de community en bepaalt grotendeels de
              koers van de community.</p>
            <p><a href="https://www.gebruikercentraal.nl/actieteam/" class="btn btn--primary">Bekijk alle leden van
                het actieteam</a></p>
          </div>

          {# blocks #}

          {% include 'blocks/figures.html.twig' with { 'variant' : 'width-content'} %}

          {% include 'blocks/text.html.twig' with { 'title' : 'Dit is een tekstblok'} %}

          {% set cards = {
            '1': {
              'title' : 'Superleuke pagina',
            },
            '2': {
              'title' : 'Optimaal Digitaal Workshopspel',
              'descr' : 'Kaartje met een afbeelding. Wanneer de pagina waarnaar verwezen ook een platje heeft.',
              'img' : 'img-16-9.jpg'
            }
          } %}

          {% include 'sections/section-related.html.twig' with {
            'title' : 'Kijk ook bij...',
            'cards': cards
          } %}

        </div>
      </article>
    </main>
  </div>

  {% include 'includes/footer.html.twig' %}
</div>