<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page page--type-{{ type ? type : 'page' }} site-id-{{ siteid ? siteid : '1' }}">

<div class="site-container">
  {% include 'includes/header.html.twig' %}

  {% block breadcrumb %}
    {% if breadcrumb is empty %}

      {% set breadcrumb = {
        'page_title': page_title,
        'links': {
          '1': {
            'url': 'index.php',
            'title': 'Home'
          }
        }
      } %}
    {% endif %}

    {% include 'includes/breadcrumb.html.twig' with {
      'title': breadcrumb.page_title,
      'links': breadcrumb.links
    } %}
  {% endblock %}


  <div class="page-content" id="maincontent" tabindex="-1">
    {% block content %}
      <main class="content">
        {# Filled out by other twig templates #}
        {% block header %}
          <header class="post__header">
            <h1 class="post__title">{{ title ? title : 'Over Gebruiker Centraal' }}</h1>

            {% if intro %}
              <p class="text text--intro">{{ intro }}</p>
            {% endif %}

          </header>

        {% endblock %}
      </main>
    {% endblock %}
  </div>

  {% include 'includes/footer.html.twig' %}
</div>