{% if id is empty %}
  {% set id = '1' %}
{% endif %}

<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page page--type-step site-id-{{ id }}{{ modifier }}">

<div class="site-container">

  {% include 'includes/header.html.twig' %}

  {% if breadcrumb is empty %}
    {% set breadcrumb = {
      'page_title': 'Instrumenten',
      'links': ['Home']
    } %}
  {% endif %}

  {% include 'includes/breadcrumb.html.twig' with {
    'page_title': breadcrumb.page_title,
    'links': breadcrumb.links
  } %}


  <div class="page-content" id="maincontent" tabindex="-1">

    {% if theme == 'beeldbank' %}

      {% set stepnav = {
        '1': {
          'title': 'Bereid voor',
          'icon': 'doc-magnify'
        },
        '2': {
          'title': 'Ontwerp',
          'icon': 'doc-design'
        },
        '3': {
          'title': 'Test',
          'icon': 'persons-ok'
        },
        '4': {
          'title': 'Pas aan',
          'icon': 'doc-checklist'
        },
        '5': {
          'title': 'Ontwerp',
          'icon': 'doc-share'
        }
      } %}

    {% else %}

      {% set stepnav = {
        '1': {
          'title': 'Identificeer',
          'icon': 'person-magnify'
        },
        '2': {
          'title': 'Verdiep',
          'icon': 'lamp'
        },
        '3': {
          'title': 'Test',
          'icon': 'pen-ruler'
        },
        '4': {
          'title': 'Evalueer',
          'icon': 'doc-checklist'
        },
        '5': {
          'title': 'Ontwerp',
          'icon': 'doc-share'
        }
      } %}

    {% endif %}

    {% include 'components/stepnav.html.twig' with { 'items' : stepnav } %}


    <main class="content">

      <article class="entry entry--type-step entry--full">

        <div class="entry-content">

          <header class="entry-header">
            <h1 class="entry-title">{{ title ? title : 'Onze instrumenten' }}</h1>

            {% if intro %}
              <p>{{ intro }}</p>
            {% endif %}
          </header>

          {% if theme == 'beeldbank' %}

            {% set text %}
              <ol class="steplist">
                <li>
                  <h2>Stel een kernteam samen</h2>
                  <p>Stel een kernteam samen. Betrek in het kernteam de eigenaar, inhoudsdeskundige en/of iemand die
                    daadwerkelijk met de brief, folder of website moet werken. Daarnaast is het raadzaam – mits relevant
                    –
                    ook een jurist en iemand van ICT aan het team toe te voegen, zodat je daarmee snel kan
                    afstemmen.</p>
                </li>
                <li>
                  <h2>Formuleer met je kernteam het doel</h2>
                  <p>Wat wil je met de nieuwe beeldproduct bereiken? Maak altijd duidelijk wat je van de ontvanger wil.
                    Oók als die niets hoeft te doen.</p></li>
                <li>
                  <h2>Neem met je kernteam het eerdere product door</h2>
                  <p>Wat kan er allemaal uit aan tekst en beelden, wat móet er blijven staan? Welke onderdelen lenen
                    zich
                    voor beeldtaal?</p></li>
              </ol>
            {% endset %}

            {% include 'blocks/text.html.twig' with { 'section_text' : text, 'title': '' } %}


            {% set related = {
              '1': {
                'title': 'Stap 2: Ontwerp',
                'descr': 'Bekijk welke onderdelen van je nieuwe opzet zich lenen voor het gebruik van beeldtaal: foto’s, iconen, tekeningen of film. Wat vertel je in woorden, wat vertel je (ook) in beeld?'
              },
              '2': {
                'title': 'Stap 3: Test',
                'descr': 'Testen is essentieel. Veel brieven of folders gaan in grote aantallen de deur uit en dat geldt ook voor het gebruik van websites. Voorkom (vermijdbare) vragen en telefoontjes.'
              },
            } %}

            {% include 'sections/section-related.html.twig' with {
              'title': 'Kijk ook bij...',
              'cards': related,
              'modifier' : 'bg-option'
            } %}

          {% elseif theme == 'inclusie' %}

            {% set text %}

              <h2>Activiteiten</h2>
              Bekijk de toelichting over ontwerpen voor inclusie. Stel jezelf de volgende vragen:

              <ul>
                <li>Welke doelgroepen gebruiken je toepassing (dienst of product)?</li>
                <li>Welke vaardigheden van gebruikers zijn relevant?</li>
                <li>Welke omstandigheden van gebruikers zijn relevant?</li>
                <li>Wie zijn de relevante stakeholders, wat is hun rol en op welke manier kunnen zij bijdragen aan
                  inclusie?
                </li>
                <li>Wie mis je nog?</li>

              </ul>

              <p>Maak een afweging tussen enerzijds de belangen van gebruikers, en anderzijds de vereiste inspanningen
                van verschillende stakeholders om inclusie te bewerkstelligen. </p>

            {% endset %}

            {% include 'blocks/text.html.twig' with { 'section_text' : text, 'title': '' } %}

            {% set related = {
              '1': {
                'title': 'Identificeer doelgroepen',
                'descr': 'Maak een overzicht van directe en indirecte stakeholders. Denk aan (kwetsbare) doelgroepen van de te ontwikkelen toepassing, maar ook aan andere groepen of partijen die relevant zijn voor de uitdagingen binnen je project.'
              },
              '2': {
                'title': 'Context Mindmap',
                'descr': 'Maak een mindmap waarin je de context van je project beschouwt. Denk na over de doelgroep, de taken, processen en de omgeving van je toepassing.'
              },
              '3': {
                'title': 'Optimaal Digitaal Spel',
                'descr': 'Speel het Optimaal Digitaal Spel om met je projectteam of stakeholders de focus voor je project vast te stellen. Besteed hierbij extra aandacht aan de categorie Inclusie.',
                'img': 'img-16-9.jpg',
              }
            } %}

            {% include 'sections/section-related.html.twig' with {
              'title': 'Technieken',
              'description': 'Dit is een selectie van technieken die je in kunt zetten bij het uitvoeren van deze stap. Soms gaat het om standaard technieken die worden ingezet voor het uitvoeren van een ontwerptraject waarbij de gebruiker centraal staat. Andere technieken richten zich specifiek op inclusie.',
              'cards': related,
            } %}

            {% set links = {
              '1': {
                'title': 'Ontwerpprincipes',
                'descr' : 'De vijf ontwerpprincipes helpen je om digitale dienstverlening zo gebruiksvriendelijk mogelijk te maken (Gebruiker centraal).'
              },
              '2': {
                'title': 'Inclusive Design',
                'descr' : 'Inclusive design principles, resources (toolkit), inclusive design in action, inclusive design partnerships (Microsoft Design).'
              },
              '3': {
                'title': 'DesignKit',
                'descr': 'Learn about the power of human-centered design, to help you routinely innovate and solve big problems: mindsets, methods and case studies (IDEO.org).'
              }
            } %}

            {% include 'sections/section-links.html.twig' with {
              'title': 'Externe links',
              'items': links,
            } %}


          {% endif %}

        </div>

      </article>

    </main>
  </div>

  {% include 'includes/footer.html.twig' %}
</div>