{% if id is empty %}
  {% set id = '2' %}
{% endif %}

<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page page--type-manual site-id-{{ id }}">

<div class="site-container">

  {% include 'includes/header.html.twig' %}

  <div class="page-content" id="maincontent" tabindex="-1">


      <main class="manual">

        <div class="entry-content">

          <div class="page__intro">
            <header class="entry-header">
              <h1 class="entry-title">Hoe speel ik het?</h1>

              <p>Het spel wordt gespeeld in 8 stappen.<br>
                Lees per stap de beschrijving.</p>

              <a class="btn btn--download" href="#">Download de handleiding</a>
              <a class="btn btn--read-more" href="#">Bekijk de spelbegrippen</a>
            </header>

          </div>
          {# /page intro #}


        </div>
        {# /entry content #}
      </main>
  </div>

  {% include 'includes/footer.html.twig' %}
</div>
</body>