{% extends 'od-page.html.twig' %}


{% block entry_header %}
  <header class="entry-header">
    <h1 class="entry-title">Alle tips</h1>
  </header>
{% endblock %}


{% block entry_content %}

  {# filters#}

  {% set filters = [
    'Alle',
    'Gebruiksgemak',
    'Informatieveiligheid',
    'Kanaalsturing',
    'Procesaanpak',
    'Samenwerking',
    'Inclusie'
  ] %}


  <div class="entry-content">
    {% include 'sections/section-overview.html.twig' with {
      'items': tipkaarts,
      'title': '',
      'filters': filters,
      'template': 'card--tipkaart',
      'descr': 'Hoi',
      'modifier': 'od-a11y',
      'grid_modifier': '4col'
    } %}

  </div>
{% endblock %}