{% if name is empty %}
  {% set name = 'Gebruiker Centraal Auteur' %}
{% endif %}

<section class="author author--box {{ img ? 'l-with-image' }}" itemprop="author" itemscope="itemscope"
    itemtype="http://schema.org/Person">

  {% if img %}
  <figure class="author__picture">
    <img src="/uploads/{{ img }}" alt="Auteur">
  </figure>

  <div class="author__content">
    {% endif %}

    <h2 class="author_title">
      <a class="arrow-link" href="#">
        <span class="arrow-link__text"><span class="visually-hidden">Over</span>{{ name }}</span>
        <span class="arrow-link__icon"></span>
      </a>
    </h2>

    {% include "components/meta-data.html.twig" with {
      "items":{
        "1": {
          "title": "Functie",
          "descr": function ? function : "Adviseur online communicatie en analyse"
        }
      }
    } %}

    {% if descr %}
      <p>{{ descr }}</p>
    {% endif %}

    <div class="author__contact-info">
      <a class="link link--contact link--phone" href="tel:0612345678">06 1234567</a>
      <a class="link link--contact link--email" href="mailto:info@gebruikercentraal.nl">info@gebruikercentraal.nl</a>

      {% include 'components/social-links.html.twig' %}
    </div>
    {% if img %}</div>{% endif %}

</section>