{% if author is empty %}
  {% set author = 'Gebruiker Centraal Auteur' %}
{% endif %}



{% if comments is empty %}

  {% set comments = {
    '1': {
      'author': 'Haas Ontwerp',
      'body': 'Dit is een standaard comment.',
      'time': '7 november 2019',
      'sub': {
        '1': {
          'author': 'Haas Ontwerp',
          'body': 'Dit is een standaard reactie op een comment.',
          'time': '12 november 2019',
        },
        '2': {
          'author': 'Pieter',
          'body': 'Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta.',
          'time': '12 november 2019',
        }
      }
    },
    '2': {
      'author': 'Wendy',
      'body': 'Helaas hebben we het spel niet ontvangen en hebben we niet mee kunnen doen aan de challenge.',
      'time': '7 november 2019',
      'sub': {
        '1': {
          'author': 'Gebruiker Centraal',
          'body': 'Weet je het zeker, heb je je mailbox gecheckt?',
          'time': '12 november 2019',
        },
      }
    },
    '3': {
      'author': 'Mr Pink',
      'body': 'Helaas hebben we het spel niet ontvangen en hebben we niet mee kunnen doen aan de challenge.',
      'time': '7 november 2019',
    },
    '4': {
      'author': 'Mr. Brown',
      'body': 'Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Cras ultricies ligula sed magna dictum porta.',
      'time': '2 februari 2021'
    }
  } %}

{% endif %}

{% set i = 0 %}

  {% for comment in comments %}
    {% for child in comment.sub %}
      {% set i = i + 1 %}
    {% endfor %}
  {% endfor %}

<section class="comments">
  <h2 class="comments__title">Reacties ({{ i + comments|length }})</h2>

  <ul class="comments__list">

    {% for comment in comments %}

      <li class="comment">

        {% include "components/comment.html.twig" with {
          'author': comment.author,
          'descr': comment.body,
          'date': comment.time
        } %}

        {% if comment.sub %}
          <ul class="comment__children">

            {% for child in comment.sub %}
              <li class="comment">
                {% include "components/comment.html.twig" with {
                  'author': child.author,
                  'descr': child.body|raw,
                  'date': '20 juli 2020'
                } %}
              </li>

            {% endfor %}
          </ul>

        {% endif %}
      </li><!-- #comment-## -->
    {% endfor %}

  </ul>


  <div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">Reageer <small></small></h3>
    <form action="https://www.gebruikercentraal.nl/wp-comments-post.php" method="post" id="commentform"
        class="comment-form">
      <p class="comment-form-comment"><label for="comment">Jouw reactie</label><textarea id="comment" name="comment"
            cols="45" rows="8" required="" aria-required="true"></textarea></p>
      <p class="comment-form author"><label for="author">Je naam</label> <input id="author" name="author" type="text"
            value="" size="30" required="" aria-required="true"></p>
      <p class="comment-form email"><label for="email">Je mailadres</label> <input id="email" name="email" type="text"
            value="" size="30" required="" aria-required="true"></p>
      <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Reageer"> <input
            type="hidden" name="comment_post_ID" value="6514" id="comment_post_ID">
        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
      </p>
      <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce"
            value="978a457e25"></p>
      <p style="display: none;"></p>
      <input type="hidden" id="ak_js" name="ak_js" value="1589446681459"></form>
  </div>

</section>