<li class="comment">

  <div class="comment-body">

    <div class="comment-author vcard">
      <cite class="fn">R. de Rooij</cite> <span class="says">wrote:</span>
    </div>

    <div class="comment-content">
      <p>Op 5 november is een motie aangenomen die mooi past bij deze blog:</p>
      <p>Gewijzigde motie van het lid Krol over meenemen van de behoeften van minder digivaardige burgers bij budget
        voor digitalisering (t.v.v. 35300-VII-33)</p>
      <p><a href="#" rel="nofollow ugc" data-ol-has-click-handler="">https://www.tweedekamer.nl/kamerstukken/moties/detail?id=2019Z20930&amp;did=2019D43639</a>
      </p>
    </div>

    <div class="comment-meta commentmetadata"><a href=#">7 november 2019 om 12:18 am</a>
      <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#" data-commentid="#" data-postid="$"
                            data-belowelement="#" data-respondelement="respond" aria-label="Antwoord op R. de Rooij">Beantwoorden</a>
      </div>

    </div>

  </div>
</li><!-- #comment-## -->