<div id="comments" class="comments-area">


  <div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">Reageer <small></small></h3>
    <form action="https://www.gebruikercentraal.nl/wp-comments-post.php" method="post" id="commentform"
          class="comment-form"><p class="comment-form-comment"><label for="comment">Jouw reactie</label><textarea
            id="comment" name="comment" cols="45" rows="8" required="" aria-required="true"></textarea></p>
      <p class="comment-form author"><label for="author">Je naam</label> <input id="author" name="author" type="text"
                                                                                value="" size="30" required=""
                                                                                aria-required="true"></p>
      <p class="comment-form email"><label for="email">Je mailadres</label> <input id="email" name="email" type="text"
                                                                                   value="" size="30" required=""
                                                                                   aria-required="true"></p>
      <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Reageer"> <input
            type="hidden" name="comment_post_ID" value="6514" id="comment_post_ID">
        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
      </p>
      <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce"
                                       value="978a457e25"></p>
      <p style="display: none;"></p><input type="hidden" id="ak_js" name="ak_js" value="1589446681459"></form>
  </div><!-- #respond -->
</div>

{% if hide_comments is empty %}

  <ul class="comment-list">

    <li class="comment even thread-even depth-1" id="comment-2496">

      <div id="div-comment-2496" class="comment-body">

        <div class="comment-author vcard"><cite class="fn">Evert-Jan Mulder</cite> <span class="says">wrote:</span>    </div>

        <div class="comment-content">
          <p>Interessante en prikkelende blog van Jasper van Kuijk van de TU Delft. Veel herkenning, en waardering voor zijn analyse. Maar. Er is een maar. Deze analyse beperkt zich op het ontwikkelen van digitale dienstverlening. De echte complexiteit begint bij het gebruik van de nieuwe dienst, en bijbehorende processen en systemen, en de aanpassingen die dat met zich meebrengt in de bestaande organisatie. Daar zit vaak de weerstand en de legacy die moet worden overwonnen en veranderd.  Zie bijvoorbeeld de stammenstrijd tussen directies, organisaties en zelfs bestuurslagen, om hun eigen identiteit en bijbehorende digitaal kanaal in de lucht te houden, terwijl het voor de burger toch echt handiger is als alles achter een portaal zit (one stop shop), of nog beter, als alles is geintegreerd.. En er is nog een maar. Er ontbreekt binnen de Nederlandse overheid het leiderschap en het beleid om dit soort ingrijpende operaties te laten slagen. Digitalisering van de overheid is Chefsache, geen dossier waar een staatssecretaris even tijd voor moet maken (sorry to say), tussen de wederopbouw van de caribische eilanden of de verhuizing van de Tweede Kamer. De decentrale traditie van Nederland, met veel autonomie voor ministeries en bestuurslagen, lijkt een government-as-a-whole-approach in de weg te staan.</p>
        </div>

        <div class="comment-meta commentmetadata">
          <a href="#" data-ol-has-click-handler="">6 november 2019 om 4:55 pm</a>

          <div class="reply">
            <a rel="nofollow" class="comment-reply-link" href="#comment-2496" data-commentid="2496" data-postid="5878" data-belowelement="div-comment-2496" data-respondelement="respond" aria-label="Antwoord op Evert-Jan Mulder" data-ol-has-click-handler="">Beantwoorden</a>
          </div>
        </div>

      </div>

    </li><!-- #comment-## -->


    <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-2501">

      <div id="div-comment-2501" class="comment-body">

        <div class="comment-author vcard"><cite class="fn">R. de Rooij</cite> <span class="says">wrote:</span>    </div>

        <div class="comment-content">
          <p>Op 5 november is een motie aangenomen die mooi past bij deze blog:</p>
          <p>Gewijzigde motie van het lid Krol over meenemen van de behoeften van minder digivaardige burgers bij budget voor digitalisering (t.v.v. 35300-VII-33)</p>
          <p><a href="#" rel="nofollow ugc" data-ol-has-click-handler="">https://www.tweedekamer.nl/kamerstukken/moties/detail?id=2019Z20930&amp;did=2019D43639</a></p>
        </div>

        <div class="comment-meta commentmetadata"><a href="https://www.gebruikercentraal.nl/blog/de-gebruiksgerichte-digitale-overheid-een-transformatieagenda/#comment-2501" data-ol-has-click-handler="">
            7 november 2019 om 12:18 am</a>
          <div class="reply">
            <a rel="nofollow" class="comment-reply-link" href="#comment-2501" data-commentid="2501" data-postid="5878" data-belowelement="div-comment-2501" data-respondelement="respond" aria-label="Antwoord op R. de Rooij" data-ol-has-click-handler="">Beantwoorden</a>        </div>

        </div>

      </div>
    </li><!-- #comment-## -->

    <li class="comment even thread-even depth-1" id="comment-2517">

      <div id="div-comment-2517" class="comment-body">

        <div class="comment-author vcard">
          <cite class="fn">Mark Schoondorp</cite> <span class="says">wrote:</span>    </div>

        <div class="comment-content">
          <p>De motie is zo kort, zo bleek na doorklikken en downloaden van pdf, dat het iedereen tijd scheelt om hem hier dan even neer te zetten. Ik citeer </p>
          <p>GEWIJZIGDE MOTIE VAN HET LID KROL TER VERVANGING VAN<br>
            DIE GEDRUKT ONDER NR. 33<br>
            Voorgesteld 5 november 2019<br>
            De Kamer,<br>
            gehoord de beraadslaging,<br>
            overwegende dat dit Kabinet ernaar streeft dat iedereen mee moet<br>
            kunnen doen in het digitale tijdperk;<br>
            overwegende dat dit niet overeenkomt met de realiteit;<br>
            verzoekt de regering de behoeften van de minder digivaardige burgers<br>
            steeds integraal mee te nemen bij de besteding van het budget voor<br>
            digitalisering,<br>
            en gaat over tot de orde van de dag,<br>
            Krol</p>
          <p>(En natuurlijk dank voor de heerlijk heldere blogpost, @Jasper!)<br>
            (En de vraag hoe we aankijken tegen een captcha waarin we een rekensom moeten oplossen van 4 + vijf? Wel of niet een inclusief en voor iedereen geschikt?)</p>
        </div>

        <div class="comment-meta commentmetadata"><a href="https://www.gebruikercentraal.nl/blog/de-gebruiksgerichte-digitale-overheid-een-transformatieagenda/#comment-2517" data-ol-has-click-handler="">
            12 november 2019 om 9:11 am</a>
          <div class="reply">
            <a rel="nofollow" class="comment-reply-link" href="#comment-2517" data-commentid="2517" data-postid="5878" data-belowelement="div-comment-2517" data-respondelement="respond" aria-label="Antwoord op Mark Schoondorp" data-ol-has-click-handler="">Beantwoorden</a>        </div>

        </div>


      </div>
    </li><!-- #comment-## -->
  </ul>
{% endif %}