<div class="list-item list-item--{{ type ? type : 'page' }} {{ img ? 'l-has-image' ? 'l-without-image' }}">
  {% if start_date and end_date %}
    {% include 'components/date-badge.html.twig' with {
      'start_date': start_date,
      'end_date': end_date,
    } %}
  {% elseif post_date %}
    {% include 'components/date-badge.html.twig' with {
      'post_date': post_date,
      'modifier': '',
    } %}
  {% endif %}

  {% if type == 'event' %} <div class="l-content-wrapper">{% endif %}

  <h3 class="list-item__title">
    <a href="{{ url ? url : '#' }}" class="list-item__link">{{ title }}</a>
  </h3>

  {% if meta %}
    {% include 'components/meta-data.html.twig' with {'items': meta} %}
  {% endif %}

    {% if type == 'event' %} </div>{% endif %}

</div>