<ul class="social-links">

  <li class="social-links__item">
    <a href="http://www.linkedin.com" class="link--social linkedin"
       title="LinkedIn-profiel van Gebruiker Centraal">
      LinkedIn-profiel van Gebruiker Centraal</a></li>
  <li class="social-links__item">
    <a href="http://www.twitter.com" class="link--social twitter" title="Twitter van Gebruiker Centraal">
      Twitter van Gebruiker Centraal</a></li>
  <li class="social-links__item">
    <a href="http://www.facebook.com" class="link--social facebook" title="Facebook van Gebruiker Centraal">
      Facebook van Gebruiker Centraal</a></li>
</ul>