<section class="section section--video">
  <div class="video">

    <div class="video__video">
      <img src="/uploads/img-16-9.jpg">

      <div class="video__overlay">
           <i class="play" role="figure">
           </i>

        <button class="video__play" type="button">{{ title ? title :'Bekijk de Optimaal Digitaal Video' }}</button>
      </div>
    </div>

    <div class="video__summary">
      <span class="video__transcription">Bekijk transcriptie</span>
    </div>
  </div>

  <div class="l-cta-wrapper">
    <a href="landing.php" class="btn btn--primary">Meer over Optimaal Digitaal</a>
    <a href="#" class="btn btn--secondary">Hoe speel je het?</a>
  </div>
</section>