/*
 * General
 */


$nlds-purplish-darker:    #681B53;
$color-secondary:         $nlds-purplish;

$link-block-bg:           $gc-a11y-blue;
$link-block-border:       darken($gc-a11y-blue, 5%);

$link-block-hover:        $white;
$link-block-icon-color:   darken($gc-a11y-blue, 10%);


$color-primary:           $nlds-purplish;

$brand-color:             $gc-blue;

$intro-bg:                $nlds-purplish;

$hp-intro-bg:             $nlds-purplish;
$hp-intro-color:          $white;